* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #000000;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #000000;
}

canvas {
  display: block;
}